/* .t2>img{
   
    margin: 30px;
    padding: 30px;
    cursor: pointer;
}
.t2>p{
    word-spacing: 140px;
    color: red;
} */

/* Chapter 49-52
Task#03 */
#f{
    z-index: 1;
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 500px;
    box-shadow: -5px 5px 10px 0px #888888;
    background-color: rgb(183, 218, 32);
    padding-left: 7%;
}
#inf{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);

}